.blog-page {
  padding: 30px;
}

.page-title {
  text-align: center;
  margin-bottom: 30px;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.blog-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 14px rgba(0,0,0,0.1);
}

.blog-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.blog-content {
  padding: 15px;
}

.blog-content h4 {
  margin-bottom: 5px;
}

.blog-content button {
  margin-top: 10px;
  padding: 6px 12px;
  background: #ff6600;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  max-width: 700px;
  max-height: 90vh;
  overflow-y: auto;
  padding: 25px;
  border-radius: 10px;
}

.modal-image {
  width: 100%;
  margin: 15px 0;
}

.close-btn {
  background: red;
  color: white;
  padding: 6px 14px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}




.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  gap: 10px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #FFB400; /* orange color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
